# Database
DATABASE_URL=postgresql://user:password@host:port/database

# Auth0
AUTH0_DOMAIN=your-domain.auth0.com
AUTH0_CLIENT_ID=your-client-id
AUTH0_CLIENT_SECRET=your-client-secret
AUTH0_BASE_URL=http://localhost:3000

# Uploadthing
UPLOADTHING_TOKEN=your-uploadthing-token
